<html>
<head>
<style>
body {
  background-color: teal;
}

h1 {
  color: white;
  text-align: center;
  font-family: algerian;
}
h4 {
	text-align: center;
	font-family: cambria;
	font-size: 35px;
	}
p {
	text-align: center;
	font-family: cambria;
	font-size: 20px;
}
</style>
</head>
<body>
